<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Measuring යාළුවා | Report</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/assets/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <script src="/assets/js/react.production.min.js"></script>
  <script src="/assets/js/react-dom.production.min.js"></script>
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End Plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="/assets/images/favicon.ico" />
  <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
  <style>
    .container-fluid.page-body-wrapper,
    .main-panel,
    .content-wrapper {
      @* padding-left: 0 !important; *@
      @* padding-right: 0 !important; *@
      margin-left: 0 !important;
      margin-right: 0 !important;
      width: 100vw;
      max-width: 100vw;
    }
    .content-wrapper {
    background: #000000;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.1%;
    padding-right: 1.1%;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

    body,
    html {
      overflow-x: hidden;
    }
  </style>
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
      <a href="/GM" class="btn btn-outline-primary"
        style="position: absolute; top: 15px; left: 18px; z-index: 1050; font-weight: bold; border-radius: 50px; padding: 10px 22px; box-shadow: 0 2px 8px rgba(0,0,0,0.08); background: none; border-width: 2px;">
        <i class="mdi mdi-arrow-left"></i> Back
      </a>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <form class="forms-sample">
                    <div class="row justify-content-center">
                      <div id="style" name="style" style="margin: 1%;" class="col-2">
                        <div class="text-info">Style</div>
                        <div class="dropdown">
                          <input class="typeahead form-control" type="text" placeholder="Loading Styles..." disabled autocomplete="off" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div class="dropdown-menu w-100" id="style-dropdown"></div>
                        </div>
                        @* <div id="style-error" class="text-danger" hidden>Invalid Style</div> *@
                      </div>
                      <div id="size" name="id" style="margin: 1%;" class="col-2">
                        <div class="text-info">Size</div>
                        <div class="dropdown">
                          <input class="typeahead form-control" type="text" placeholder="Select a style 1st" disabled autocomplete="off" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div class="dropdown-menu w-100" id="size-dropdown"></div>
                        </div>
                        @* <div id="size-error" class="text-danger" hidden>Invalid Size</div> *@
                      </div>
                      <div class="col-2 d-flex align-items-center" style="margin: 1%;">
                        <input type="checkbox" id="dateFilterActive" name="dateFilterActive" style="margin-right: 8px;">
                        <label for="dateFilterActive" class="mb-0">Date Filter</label>
                      </div>
                      <div style="margin: 1%;" class="col-2">
                        <div class="text-info">Start date & time</div>
                        <input class="form-control" id="strDate" name="strDate" type="datetime-local" />
                      </div>
                      <div style="margin: 1%;" class="col-2">
                        <div class="text-info">End date & time</div>
                        <input class="form-control" id="endDate" name="endDate" type="datetime-local" />
                      </div>

                      <div class="col-2 d-flex align-items-center" style="margin: 1%;">
                        <button type="button" id="searchBtn" class="btn btn-primary w-100">
                          <i class="mdi mdi-magnify"></i> Search
                        </button>
                      </div>
                      <div class="col-2 d-flex align-items-center" style="margin: 1%;">
                        <button type="button" id="exportBtn" class="btn btn-success w-100">
                          <i class="mdi mdi-file-export"></i> Export
                        </button>
                      </div>
                    </div>
                    <!-- <div class="row">
                      <div class="col-12 d-flex justify-content-center">
                        <button type="button" id="searchBtn" class="btn btn-inverse-primary col-4"
                          style="margin-top: 1%; margin-bottom: 1%; height: 100%;">Filter</button>
                      </div>
                    </div> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="measurements">
            <!-- Cards will be dynamically inserted here -->
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © MAS KREEDA
              2024</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/assets/vendors/select2/select2.min.js"></script>
  <script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="/assets/vendors/chart.js/chart.js"></script>
  @* <script src="/assets/vendors/chart.js/chart.js"></script> *@
  <script src="/assets/vendors/chart.js/luxon.min.js"></script>
  <script src="/assets/vendors/chart.js/chartjs-adapter-luxon.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/assets/js/off-canvas.js"></script>
  <script src="/assets/js/hoverable-collapse.js"></script>
  <script src="/assets/js/misc.js"></script>
  <script src="/assets/js/settings.js"></script>
  <script src="/assets/js/todolist.js"></script>
  <script src="/assets/js/select2.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <!-- <script src="/assets/js/getstylesize.js"></script> -->
  <script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="/assets/js/chartLoader.js"></script>
  <!-- <script src="/assets/js/dashData.js"></script> -->
  <!-- End custom js for this page -->
</body>

</html>